In [1]:
lst1 = [1, 2, 9, 0, 10, 20, 78, 8, 8, 8]

In [2]:
s2 = set(lst1)
print(s2)
print(type(s2))

{0, 1, 2, 8, 9, 10, 78, 20}
<class 'set'>

In [1]:
##Intersection using and operation
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [2]:
s1&s2

{3, 4}

In [3]:
#differences of two sets
s1 = {2,3,5,6,7}
s2 = {5,6,7}

In [4]:
s1-s2

{2, 3}

In [5]:
s2-s1

set()

In [11]:
## symmetric_difference
s1={1,2,3,4,5}
s2={4,5,6}

In [12]:
s1.symmetric_difference(s2)

{1, 2, 3, 6}

In [13]:
s2.issubset(s1)

False

In [15]:
s2.issuperset(s1)

False

string

In [16]:
str1 = "Welcome to aiml class"
print(str1)
str2 = "We started with python"
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [17]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [18]:
#slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [19]:
#use of split 
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [23]:
#use of join() method
reviews = ["The product is awesome","Great Service"]
joined_string = ';' .join(reviews)
joined_string

'The product is awesome;Great Service'

In [25]:
#use of strip() method
str5 ="  Hello, How are you ? "
str5

'  Hello, How are you ? '

In [26]:
str5 = "Hello,How are you?"
str5.lower()

'hello,how are you?'

In [27]:
d1 = {"Ram":10,"srushti":90,"Shreya":100,"Rishi":80}